Repository Yhooi2/shadcn-glass-ui-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,mdx}": ["prettier --write"],
  "*.sh": ["prettier --write"]
}

docs: update CLAUDE.md with screenshot cleaning and pre-commit hooks info [skip release]
  CLAUDE.md
Due: prettier --write

test: add comprehensive tests for IconButtonGlass, FlagAlertGlass, and MetricsGridGlass
  src/components/glass/atomic/__tests__/icon-button-glass.test.tsx
  src/components/glass/composite/__tests__/metrics-grid-glass.test.tsx
  src/components/glass/specialized/__tests__/flag-alert-glass.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: update documentation and component stories [skip release]
  .storybook/Introduction.mdx
  README.md
  context7.json
  docs/AI_IMPROVEMENTS_COMPLETE.md
  docs/AI_USAGE.md
  docs/COMPONENTS_CATALOG.md
  docs/EXPORTS_STRUCTURE.md
  docs/REGISTRY_SUMMARY.md
  docs/api/README.md
  docs/api/_media/COMPONENTS_CATALOG.md
  package.json
  src/components/glass/atomic/insight-card-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: migrate remaining visual tests to Vitest browser mode
  src/components/__visual__/insight-card.visual.test.tsx
  src/components/__visual__/sparkline.visual.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: replace page.locator with page.getByTestId in sparkline tests
  src/components/__visual__/sparkline.visual.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: bypass pre-commit hook in screenshot update workflow [skip release]
  .github/workflows/update-screenshots.yml
Due: none

fix: centralize hardcoded values and add font-size scale
  src/components/glass/composite/ai-card-glass.tsx
  src/components/glass/composite/metric-card-glass.tsx
  src/components/glass/composite/year-card-glass.tsx
  src/components/glass/specialized/__tests__/flag-alert-glass.test.tsx
  src/components/glass/specialized/__tests__/progress-glass.test.tsx
  src/components/glass/specialized/flag-alert-glass.tsx
  src/components/glass/specialized/language-bar-glass.tsx
  src/components/glass/specialized/progress-glass.tsx
  src/components/glass/ui/avatar-glass.tsx
  src/lib/variants/insight-card-glass-variants.ts
  src/styles/tokens/primitives.css
Due: eslint --fix --max-warnings=0, prettier --write

feat: enhance SparklineGlass with Recharts integration
  src/components/glass/composite/__tests__/metric-card-glass.test.tsx
  src/components/glass/composite/__tests__/year-card-glass.test.tsx
  src/components/glass/composite/metric-card-glass.stories.tsx
  src/components/glass/composite/year-card-glass.stories.tsx
  src/components/glass/specialized/__tests__/sparkline-glass.test.tsx
  src/components/glass/specialized/sparkline-glass.stories.tsx
  src/components/glass/specialized/sparkline-glass.tsx
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add shadcn/ui Chart components for Recharts integration
  src/components/ui/chart.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: add recharts dependency for SparklineGlass
  components.json
  package-lock.json
  package.json
Due: prettier --write

feat: add dynamic theme switching to all use case stories
  src/stories/use-cases/dashboard.stories.tsx
  src/stories/use-cases/data-table.stories.tsx
  src/stories/use-cases/form-wizard.stories.tsx
  src/stories/use-cases/notifications-center.stories.tsx
  src/stories/use-cases/user-profile.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: improve use-case stories layout and theme switching
  src/stories/use-cases/dashboard.stories.tsx
  src/stories/use-cases/data-table.stories.tsx
  src/stories/use-cases/form-wizard.stories.tsx
  src/stories/use-cases/notifications-center.stories.tsx
  src/stories/use-cases/user-profile.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: prevent glow effect clipping in CircularProgressGlass
  src/components/glass/composite/metric-card-glass.stories.tsx
  src/components/glass/composite/metric-card-glass.tsx
  src/components/glass/ui/circular-progress-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(tokens): add OKLCH primitive color tokens with alpha variants
  docs/CSS_VARIABLES_REFACTORING_PLAN.md
  docs/PRIMITIVE_MAPPING.md
  src/styles/tokens/oklch-primitives.css
Due: prettier --write

fix: improve tooltip opacity and notification badge visibility
  src/stories/use-cases/notifications-center.stories.tsx
  src/styles/themes/glass.css
Due: eslint --fix --max-warnings=0, prettier --write

fix: increase notification badge size for better visibility
  src/stories/use-cases/notifications-center.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(tokens): migrate Badge component tokens to semantic layer (Phase 3.2)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): migrate Modal/Dropdown/Popover/Select tokens to semantic layer (Phase 3.7)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): complete Phase 4.4 - migrate aurora.css component tokens
  src/styles/themes/aurora.css
  src/styles/tokens/oklch-primitives.css
Due: prettier --write

feat(tokens): complete Phase 4.2 - migrate light.css component tokens
  src/styles/themes/light.css
  src/styles/tokens/oklch-primitives.css
Due: prettier --write

feat(tokens): complete Phase 4.3 - add semantic layer to aurora.css
  src/styles/themes/aurora.css
Due: prettier --write

docs: complete Phase 5 - token architecture documentation
  docs/THEME_CREATION_GUIDE.md
  docs/TOKEN_ARCHITECTURE.md
Due: prettier --write

feat(tokens): migrate Toggle/Checkbox tokens to semantic layer (Phase 3.5)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): migrate Tabs tokens to semantic layer (Phase 3.6)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): migrate Avatar tokens to semantic layer (Phase 3.9)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): migrate Slider tokens to semantic layer (Phase 3.8)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): migrate Button component tokens to semantic layer (Phase 3.1)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): migrate Input and Focus Ring tokens to semantic layer (Phase 3.4)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): add semantic layer to light.css (Phase 4.1)
  src/styles/themes/light.css
Due: prettier --write

feat(tokens): migrate Alert component tokens to semantic layer (Phase 3.3)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): migrate glass effects, glows, orbs, stepper tokens (Phase 3.10)
  src/styles/themes/glass.css
Due: prettier --write

feat(tokens): complete glass.css migration - zero hardcoded OKLCH
  src/styles/themes/glass.css
  src/styles/themes/light.css
Due: prettier --write

storybook
  .storybook/Introduction.mdx
Due: prettier --write

npm
  .github/workflows/publish.yml
Due: none

fix: add --provenance flag for OIDC trusted publisher
  .github/workflows/publish.yml
Due: none

fix: skip husky hooks in automated workflow commits
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
Due: none

feat: add GitHub Packages publishing support
  .github/workflows/publish.yml
  package.json
Due: prettier --write
