Repository Yhooi2/shadcn-glass-ui-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,mdx}": ["prettier --write"],
  "*.sh": ["prettier --write"]
}

feat: add demo screenshots for GitHub Pages
  package-lock.json
  public/demo-screenshot-aurora.png
  public/demo-screenshot.png
  public/vite.svg
Due: prettier --write

chore: configure Storybook to include public directory
  .storybook/main.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: add demo screenshots to README
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix: replace bundlephobia badge with static size badge
  README.md
Due: prettier --write

readme
  README.md
  public/demo-screenshot.png
  public/demo-screenshot.png.zip
Due: prettier --write

update readme
  README.md
  context7.json
  docs/AI_USAGE.md
  docs/COMPONENTS_CATALOG.md
  docs/EXPORTS_STRUCTURE.md
  docs/REGISTRY_SUMMARY.md
  docs/api/README.md
  package.json
Due: prettier --write

docs
  docs/ADVANCED_PATTERNS.md
  docs/BREAKING_CHANGES.md
Due: prettier --write

update readme
  README.md
Due: prettier --write

feat: complete v2.0.0 migration - achieve 100% shadcn/ui compatibility
  src/components/glass/ui/__tests__/combobox-glass.test.tsx
  src/components/glass/ui/combobox-glass.stories.tsx
  src/components/glass/ui/combobox-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: update CHANGELOG.md with v2.0.0 breaking changes
  CHANGELOG.md
Due: prettier --write

docs: update README and BREAKING_CHANGES with v2.0.0 API compatibility
  README.md
  docs/BREAKING_CHANGES.md
Due: prettier --write

docs: optimize AI documentation - remove v1.x support
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/ADVANCED_PATTERNS.md
  docs/AI_USAGE.md
  docs/BEST_PRACTICES.md
  docs/BREAKING_CHANGES.md
  docs/COMPONENTS_CATALOG.md
  docs/EXPORTS_STRUCTURE.md
  docs/GETTING_STARTED.md
  docs/PUBLISHING.md
  docs/REGISTRY_USAGE.md
  docs/api/README.md
  docs/api/interfaces/BadgeGlassProps.md
  docs/api/interfaces/ButtonGlassProps.md
  docs/migration/modal-glass-compound-api.md
  docs/migration/select-to-combobox.md
  docs/migration/tabs-glass-compound-api.md
Due: prettier --write

chore(release): v2.1.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

docs: update CHANGELOG and BREAKING_CHANGES for v2.1.0 [skip ci]
  CHANGELOG.md
  docs/BREAKING_CHANGES.md
Due: prettier --write

fix: add caching to bundlephobia badge
  README.md
Due: prettier --write

fix(ci): skip prepublishOnly for GitHub Packages to avoid API Extractor scope validation
  .github/workflows/publish.yml
Due: none

chore(release): v2.1.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

docs: fix broken link in CLAUDE.md [skip ci]
  CLAUDE.md
Due: prettier --write

docs: fix broken link in CLAUDE.md [skip ci]
  .github/workflows/publish.yml
  CHANGELOG.md
Due: prettier --write

fix readme and introuction
  .storybook/Introduction.mdx
  README.md
Due: prettier --write

fix(docs): update Storybook docs to v2.0.0 API (variant="default", size="default")
  .storybook/Introduction.mdx
  .storybook/docs/Blocks.mdx
  .storybook/docs/CoreComponents.mdx
  .storybook/docs/GettingStarted.mdx
  src/components/__visual__/phase2-components.visual.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(storybook): update ButtonGlass story to v2.0.0 API
  src/components/glass/ui/button-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(docs): update GETTING_STARTED.md to v2.0.0 API
  docs/GETTING_STARTED.md
Due: prettier --write

fix(tests): correct component API usage in tests and stories
  src/components/__test__/migration-verification.stories.tsx
  src/components/__visual__/components.visual.test.tsx
  src/stories/use-cases/data-table.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(storybook): correct CircularMetricGlass size variant
  src/components/glass/composite/CircularMetricGlass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: correct size='default' to component-specific defaults across stories and tests
  src/components/__visual__/components.visual.test.tsx
  src/components/__visual__/phase2-components.visual.test.tsx
  src/components/glass/composite/CircularMetricGlass.stories.tsx
  src/components/glass/composite/__tests__/circular-metric-glass.test.tsx
  src/components/glass/specialized/__tests__/rainbow-progress-glass.test.tsx
  src/components/glass/specialized/profile-avatar-glass.stories.tsx
  src/components/glass/specialized/progress-glass.stories.tsx
  src/components/glass/specialized/rainbow-progress-glass.stories.tsx
  src/components/glass/ui/avatar-glass.stories.tsx
  src/components/glass/ui/circular-progress-glass.stories.tsx
  src/components/glass/ui/stepper-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.1.2 - fix component size prop bugs
  package-lock.json
  package.json
Due: prettier --write

feat(composite): add SplitLayoutGlass component
  CLAUDE.md
  README.md
  docs/components/SPLIT_LAYOUT_GLASS.md
  src/components/__visual__/split-layout.visual.test.tsx
  src/components/glass/composite/__tests__/split-layout-glass.test.tsx
  src/components/glass/composite/index.ts
  src/components/glass/composite/split-layout-glass.stories.tsx
  src/components/glass/composite/split-layout-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(exports): add SplitLayoutGlass to main index exports
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(SplitLayoutGlass): change default breakpoint from xl to md
  .claude/SPLIT_LAYOUT_GLASS_PROMPT_V2.md
  docs/components/SPLIT_LAYOUT_GLASS.md
  src/components/glass/composite/__tests__/split-layout-glass.test.tsx
  src/components/glass/composite/split-layout-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

test(SplitLayoutGlass): fix tests to use compound component API
  src/components/__visual__/split-layout.visual.test.tsx
  src/components/glass/composite/__tests__/split-layout-glass.test.tsx
  src/components/glass/composite/index.ts
  src/components/glass/composite/split-layout-glass.tsx
  src/components/glass/composite/split-layout-glass/index.ts
  src/components/glass/composite/split-layout-glass/split-layout-accordion.tsx
  src/components/glass/composite/split-layout-glass/split-layout-context.tsx
  src/components/glass/composite/split-layout-glass/split-layout-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(SidebarGlass): add shadcn/ui Sidebar with glassmorphism
  src/components/glass/composite/split-layout-glass/index.ts
  src/components/glass/composite/split-layout-glass/split-layout-accordion.tsx
  src/components/glass/composite/split-layout-glass/split-layout-glass.tsx
  src/components/glass/ui/sidebar-glass/index.ts
  src/components/glass/ui/sidebar-glass/sidebar-context.tsx
  src/components/glass/ui/sidebar-glass/sidebar-glass.stories.tsx
  src/components/glass/ui/sidebar-glass/sidebar-glass.tsx
  src/components/glass/ui/sidebar-glass/sidebar-menu.tsx
  src/index.ts
  src/styles/themes/aurora.css
  src/styles/themes/glass.css
  src/styles/themes/light.css
Due: eslint --fix --max-warnings=0, prettier --write

fix sidebar-color
  src/components/glass/ui/sidebar-glass/sidebar-glass.tsx
  src/components/glass/ui/sidebar-glass/sidebar-menu.tsx
  src/styles/themes/aurora.css
  src/styles/themes/glass.css
  src/styles/themes/light.css
Due: eslint --fix --max-warnings=0, prettier --write

f
  src/components/glass/ui/sidebar-glass/sidebar-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix storubook split
  src/components/glass/composite/split-layout-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: paddings for introduction header; feat: added clearly build files without caching; fix: added package-lock.jsonn to gitignore
  .gitignore
  .storybook/Introduction.mdx
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix vite
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: add TooltipGlassProvider to Storybook global decorators
  .storybook/preview.tsx
Due: eslint --fix --max-warnings=0, prettier --write
