Repository Yhooi2/shadcn-glass-ui-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, eslint --fix

fix: update version comment to trigger release
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix npm release
  .github/workflows/auto-release.yml
Due: none

feat: add SheetGlass component and Dialog aliases for shadcn/ui compatibility
  src/components/__visual__/sheet.visual.test.tsx
  src/components/glass/specialized/progress-glass.tsx
  src/components/glass/ui/__tests__/modal-glass.test.tsx
  src/components/glass/ui/__tests__/sheet-glass.test.tsx
  src/components/glass/ui/modal-glass.stories.tsx
  src/components/glass/ui/modal-glass.tsx
  src/components/glass/ui/sheet-glass.stories.tsx
  src/components/glass/ui/sheet-glass.tsx
  src/index.ts
  src/lib/variants/index.ts
  src/lib/variants/sheet-glass-variants.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.4.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

feat: add Tooltip shadcn/ui-compatible aliases for drop-in replacement
  src/components/glass/ui/__tests__/tooltip-glass.test.tsx
  src/components/glass/ui/tooltip-glass.stories.tsx
  src/components/glass/ui/tooltip-glass.tsx
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add max prop to ProgressGlass for full shadcn/ui API compatibility
  src/components/glass/specialized/__tests__/progress-glass.test.tsx
  src/components/glass/specialized/progress-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.4.1 [skip ci]
  package.json
Due: prettier --write

feat: add Progress shadcn/ui-compatible alias for ProgressGlass
  src/components/glass/specialized/__tests__/progress-glass.test.tsx
  src/components/glass/specialized/progress-glass.tsx
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.4.2 [skip ci]
  package.json
Due: prettier --write

fix: pass through aria-label prop in ProgressGlass
  src/components/glass/specialized/__tests__/progress-glass.test.tsx
  src/components/glass/specialized/progress-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.4.3 [skip ci]
  package.json
Due: prettier --write

feat: add Stage 2 shadcn/ui compatible aliases
  package-lock.json
  package.json
  public/r/dropdown-menu-glass.json
  public/r/input-glass.json
  public/r/progress-glass.json
  public/r/registry.json
  public/r/select-glass.json
  public/r/skeleton-glass.json
  public/r/switch-glass.json
  public/r/toggle-glass.json
  src/components/glass/ui/__tests__/select-glass.test.tsx
  src/components/glass/ui/__tests__/switch-glass.test.tsx
  src/components/glass/ui/dropdown-menu-glass.tsx
  src/components/glass/ui/input-glass.tsx
  src/components/glass/ui/select-glass.stories.tsx
  src/components/glass/ui/select-glass.tsx
  src/components/glass/ui/skeleton-glass.tsx
  src/components/glass/ui/switch-glass.stories.tsx
  src/components/glass/ui/switch-glass.tsx
  src/components/glass/ui/toggle-glass.tsx
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.5.0 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix: className now applies to root element in CheckboxGlass and ToggleGlass (#13)
  docs/BREAKING_CHANGES.md
  src/components/glass/ui/__tests__/checkbox-glass.test.tsx
  src/components/glass/ui/__tests__/toggle-glass.test.tsx
  src/components/glass/ui/alert-glass.tsx
  src/components/glass/ui/avatar-glass.tsx
  src/components/glass/ui/badge-glass.tsx
  src/components/glass/ui/button-glass.tsx
  src/components/glass/ui/card-glass.tsx
  src/components/glass/ui/checkbox-glass.tsx
  src/components/glass/ui/toggle-glass.tsx
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix version
  package-lock.json
  package.json
Due: prettier --write

fix storybook metric-card-glass
  src/components/glass/composite/metric-card-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add shadcn/ui compatibility improvements (#14, #15)
  public/r/metric-card-glass.json
  public/r/registry.json
  public/r/repository-card-context.json
  public/r/repository-card-glass.json
  public/r/year-card-context.json
  public/r/year-card-glass.json
  src/components/glass/composite/index.ts
  src/components/glass/composite/metric-card-glass.tsx
  src/components/glass/composite/repository-card-glass.tsx
  src/components/glass/composite/repository-card-glass/index.ts
  src/components/glass/composite/repository-card-glass/repository-card-context.tsx
  src/components/glass/composite/repository-card-glass/repository-card-glass.tsx
  src/components/glass/composite/year-card-glass.tsx
  src/components/glass/composite/year-card-glass/index.ts
  src/components/glass/composite/year-card-glass/year-card-context.tsx
  src/components/glass/composite/year-card-glass/year-card-glass.tsx
  src/lib/variants/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.5.3 [skip ci]
  package.json
Due: prettier --write

2.5.4
  package-lock.json
  package.json
Due: prettier --write

feat: export compound component APIs for YearCardGlass and RepositoryCardGlass
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(stories): add DropdownMenuGlass Storybook stories with 9 variations
  src/components/glass/ui/dropdown-menu-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: add DROPDOWN_MENU_GLASS.md with comprehensive compound API reference
  docs/components/DROPDOWN_MENU_GLASS.md
Due: prettier --write

test: add visual regression tests for DropdownMenuGlass
  src/components/__visual__/dropdown-menu-glass.visual.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(stories): add YearCardGlass compound API examples (5 new stories)
  docs/components/YEAR_CARD_GLASS.md
  src/components/glass/composite/year-card-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(stories): add RepositoryCardGlass compound API examples (4 new stories)
  docs/components/REPOSITORY_CARD_GLASS.md
  src/components/glass/sections/repository-card-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: add comprehensive documentation for ModalGlass, TabsGlass, and AlertGlass
  docs/components/ALERT_GLASS.md
  docs/components/MODAL_GLASS.md
  docs/components/TABS_GLASS.md
Due: prettier --write

docs: create comprehensive components documentation index
  docs/components/README.md
Due: prettier --write

feat(docs): add DropdownMenuGlass Storybook stories and documentation (#17)
  docs/components/DROPDOWN_MENU_GLASS.md
  src/components/__visual__/dropdown-menu-glass.visual.test.tsx
  src/components/glass/ui/dropdown-menu-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(docs): add YearCardGlass compound API documentation (#18)
  docs/components/YEAR_CARD_GLASS.md
  src/components/glass/composite/year-card-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: add RepositoryCardGlass compound API documentation (#19)
  docs/components/REPOSITORY_CARD_GLASS.md
  src/components/glass/sections/repository-card-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: add ModalGlass, TabsGlass, and AlertGlass documentation (#20)
  docs/components/ALERT_GLASS.md
  docs/components/MODAL_GLASS.md
  docs/components/TABS_GLASS.md
Due: prettier --write

docs: create comprehensive components documentation index (#21)
  docs/components/README.md
Due: prettier --write

docs: add comprehensive documentation for CardGlass, SheetGlass, StepperGlass, and PopoverGlass
  docs/components/CARD_GLASS.md
  docs/components/POPOVER_GLASS.md
  docs/components/README.md
  docs/components/SHEET_GLASS.md
  docs/components/STEPPER_GLASS.md
Due: prettier --write

chore(release): v2.6.1
  package-lock.json
  package.json
Due: prettier --write

fix(a11y): add contextual aria-label to MetricCardGlass explain button (#23)
  docs/components/METRIC_CARD_GLASS.md
  docs/components/README.md
  src/components/glass/composite/__tests__/metric-card-glass.test.tsx
  src/components/glass/composite/metric-card-glass.stories.tsx
  src/components/glass/composite/metric-card-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.6.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

update storybook 10.1.10
  .storybook/preview.tsx
  package-lock.json
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: add SeparatorGlass, ScrollAreaGlass, HoverCardGlass & enhance RepositoryCardGlass (#24 #25 #26 #27 #28)
  CHANGELOG.md
  package-lock.json
  package.json
  public/r/hover-card-glass.json
  public/r/popover-glass.json
  public/r/registry.json
  public/r/repository-card-glass.json
  public/r/scroll-area-glass.json
  public/r/separator-glass.json
  src/components/__visual__/hover-card-glass.visual.test.tsx
  src/components/__visual__/scroll-area-glass.visual.test.tsx
  src/components/__visual__/separator-glass.visual.test.tsx
  src/components/glass/composite/__tests__/repository-card-glass.test.tsx
  src/components/glass/composite/repository-card-glass/repository-card-glass.tsx
  src/components/glass/composite/repository-card-glass/repository-card-utils.ts
  src/components/glass/ui/__tests__/hover-card-glass.test.tsx
  src/components/glass/ui/__tests__/scroll-area-glass.test.tsx
  src/components/glass/ui/__tests__/separator-glass.test.tsx
  src/components/glass/ui/hover-card-glass.stories.tsx
  src/components/glass/ui/hover-card-glass.tsx
  src/components/glass/ui/index.ts
  src/components/glass/ui/popover-glass.stories.tsx
  src/components/glass/ui/popover-glass.tsx
  src/components/glass/ui/scroll-area-glass.stories.tsx
  src/components/glass/ui/scroll-area-glass.tsx
  src/components/glass/ui/separator-glass.stories.tsx
  src/components/glass/ui/separator-glass.tsx
  src/index.ts
  src/styles/themes/aurora.css
  src/styles/themes/glass.css
  src/styles/themes/light.css
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.7.0 [skip ci]
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,css,md,mdx})) or (any of: *.sh)
  eslint --fix: any of: *.{js,jsx,mjs,cjs}
