Repository Yhooi2/shadcn-glass-ui-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, eslint --fix

fix split
  src/components/glass/composite/split-layout-glass/split-layout-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix storybook
  .storybook/Introduction.mdx
  .storybook/docs-components.css
  .storybook/main.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

fix SplitLayoutGlass SidebarGlass api for shadcn
  src/components/glass/composite/split-layout-glass.stories.tsx
  src/components/glass/ui/sidebar-glass/sidebar-glass.tsx
  src/lib/variants/glass-card-variants.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.1.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

docs: add Context7 index for SplitLayoutGlass and SidebarGlass
  CLAUDE.md
  README.md
  context7.json
  docs/COMPONENTS_CATALOG.md
  docs/EXPORTS_MAP.json
  docs/EXPORTS_STRUCTURE.md
  docs/components/SIDEBAR_GLASS.md
  docs/components/SPLIT_LAYOUT_GLASS.md
Due: prettier --write

fix: update CSS export path to match actual build output
  package.json
Due: prettier --write

docs: update CSS import path in all documentation
  .storybook/Introduction.mdx
  .storybook/docs/GettingStarted.mdx
  README.md
  context7.json
  docs/AI_USAGE.md
  docs/BEST_PRACTICES.md
  docs/GETTING_STARTED.md
  docs/REGISTRY_USAGE.md
  docs/api/README.md
Due: prettier --write

chore: bump version to 2.1.5 [skip ci]
  package.json
Due: prettier --write

feat: add 6 new components for 100% shadcn/ui API compatibility
  .storybook/Introduction.mdx
  CHANGELOG.md
  README.md
  context7.json
  package-lock.json
  package.json
  src/components/glass/ui/collapsible-glass.stories.tsx
  src/components/glass/ui/collapsible-glass.tsx
  src/components/glass/ui/glass-card.tsx
  src/components/glass/ui/modal-glass.tsx
  src/components/glass/ui/radio-group-glass.stories.tsx
  src/components/glass/ui/radio-group-glass.tsx
  src/components/glass/ui/scroll-area-glass.stories.tsx
  src/components/glass/ui/scroll-area-glass.tsx
  src/components/glass/ui/separator-glass.stories.tsx
  src/components/glass/ui/separator-glass.tsx
  src/components/glass/ui/sheet-glass.stories.tsx
  src/components/glass/ui/sheet-glass.tsx
  src/components/glass/ui/toggle-group-glass.stories.tsx
  src/components/glass/ui/toggle-group-glass.tsx
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: add ModalGlass.Portal to all Storybook stories
  src/components/glass/ui/modal-glass.stories.tsx
  src/stories/use-cases/user-profile.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: implement 100% shadcn/ui API compatibility (#3)
  docs/COMPONENT_PATTERNS.md
  src/components/glass/ui/__tests__/card-glass.test.tsx
  src/components/glass/ui/__tests__/modal-glass.test.tsx
  src/components/glass/ui/__tests__/tooltip-glass.test.tsx
  src/components/glass/ui/card-glass.stories.tsx
  src/components/glass/ui/card-glass.tsx
  src/components/glass/ui/index.ts
  src/components/glass/ui/modal-glass.stories.tsx
  src/components/glass/ui/modal-glass.tsx
  src/components/glass/ui/tooltip-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add data-slot attributes for shadcn/ui v4 compatibility
  src/components/glass/ui/__tests__/alert-glass.test.tsx
  src/components/glass/ui/alert-glass.tsx
  src/components/glass/ui/badge-glass.tsx
  src/components/glass/ui/button-glass.tsx
  src/components/glass/ui/input-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: align data-slot attributes with shadcn/ui v4 naming
  src/components/glass/ui/__tests__/modal-glass.test.tsx
  src/components/glass/ui/modal-glass.tsx
  src/components/glass/ui/tooltip-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: add mobile responsive width to ModalGlass (shadcn/ui pattern)
  src/components/glass/ui/card-glass.tsx
  src/components/glass/ui/modal-glass.stories.tsx
  src/lib/variants/modal-glass-variants.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: improve ModalGlass Storybook documentation
  src/components/glass/ui/modal-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: restore ModalGlass original glass styling and update docs
  .storybook/Introduction.mdx
  CLAUDE.md
  README.md
  context7.json
  docs/ADVANCED_PATTERNS.md
  docs/AI_USAGE.md
  docs/BEST_PRACTICES.md
  docs/BREAKING_CHANGES.md
  docs/COMPONENTS_CATALOG.md
  docs/GETTING_STARTED.md
  docs/api/README.md
  docs/api/variables/ModalGlass.md
  src/components/__visual__/components.visual.test.tsx
  src/components/demos/ComponentShowcase.tsx
  src/components/demos/DesktopShowcase.tsx
  src/components/demos/GlassFixesDemo.tsx
  src/components/glass/ui/modal-glass.stories.tsx
  src/components/glass/ui/modal-glass.tsx
  src/lib/variants/modal-glass-variants.ts
  src/stories/use-cases/data-table.stories.tsx
  src/stories/use-cases/notifications-center.stories.tsx
  src/styles/themes/glass.css
  src/styles/tokens/oklch-primitives.css
  src/test/compliance/accessibility/focus-states.browser.test.tsx
  src/test/compliance/components/modal.browser.test.tsx
  src/test/compliance/glassmorphism/blur.browser.test.tsx
  src/test/compliance/glassmorphism/opacity.browser.test.tsx
  src/test/compliance/tokens/border-radius.browser.test.tsx
  src/test/compliance/tokens/spacing.browser.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Release v2.1.6: fix ModalGlass styling and update docs
  package-lock.json
  package.json
Due: prettier --write

fix: correct component count to 59 and bump version to 2.2.1
  .storybook/Introduction.mdx
  CLAUDE.md
  README.md
  context7.json
  docs/COMPONENTS_CATALOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: update package.json description to 59 components
  package.json
Due: prettier --write

fix: export CardGlass compound component from main library entry point
  CHANGELOG.md
  package.json
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: update CHANGELOG for v2.2.3 [skip ci]
  CHANGELOG.md
Due: prettier --write

fix: remove CommonJS shims from ESM bundle for clean Vite compatibility
  CHANGELOG.md
  package.json
  vite.config.lib.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: correct version to 2.2.4 (patch release for ESM fix)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add shadcn/ui API compatibility for Tabs and Checkbox components
  components.json
  package.json
  src/components/glass/ui/checkbox-glass.tsx
  src/components/glass/ui/tabs-glass.tsx
  src/index.ts
  src/lib/types.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update workflow to use .mjs extension for ESM bundle
  .github/workflows/auto-release.yml
  .github/workflows/bundle-size.yml
Due: none

feat: update version comment to v2.2.5
  CHANGELOG.md
  src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: restore CheckboxGlass visual appearance and fix FlagAlertGlass width
  CHANGELOG.md
  src/components/__visual__/components.visual.test.tsx
  src/components/glass/specialized/flag-alert-glass.tsx
  src/components/glass/ui/__tests__/avatar-glass.test.tsx
  src/components/glass/ui/__tests__/checkbox-glass.test.tsx
  src/components/glass/ui/__tests__/popover-glass.test.tsx
  src/components/glass/ui/__tests__/tabs-glass.test.tsx
  src/components/glass/ui/checkbox-glass.tsx
  src/components/glass/ui/tabs-glass.tsx
  src/lib/variants/__tests__/dropdown-content-styles.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update checkbox selector in visual test after Radix migration
  src/components/__visual__/desktop.visual.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: resolve TypeScript errors in Storybook stories
  .husky/pre-commit
  CLAUDE.md
  package.json
  src/components/glass/atomic/insight-card-glass.stories.tsx
  src/components/glass/composite/metric-card-glass.stories.tsx
  src/components/glass/composite/split-layout-glass.stories.tsx
  src/components/glass/composite/year-card-glass.stories.tsx
  src/components/glass/sections/trust-score-card-glass.stories.tsx
  src/components/glass/specialized/sparkline-glass.stories.tsx
  src/components/glass/ui/badge-glass.stories.tsx
  src/components/glass/ui/combobox-glass.stories.tsx
  src/components/glass/ui/tooltip-glass.stories.tsx
  src/stories/use-cases/dashboard.stories.tsx
  src/stories/use-cases/data-table.stories.tsx
  src/stories/use-cases/form-wizard.stories.tsx
  src/stories/use-cases/notifications-center.stories.tsx
  src/stories/use-cases/user-profile.stories.tsx
  tsconfig.json
  tsconfig.stories.json
Due: eslint --fix --max-warnings=0, prettier --write

fix: remove unused args from AllVariants stories
  src/components/glass/ui/badge-glass.stories.tsx
  src/components/glass/ui/toggle-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: reduce font sizes in Storybook introduction hero section
  .storybook/docs-components.css
Due: prettier --write

fix: intro
  .storybook/Introduction.mdx
Due: prettier --write

fix: sparkline storybook overflow and tooltip behavior
  src/components/glass/specialized/sparkline-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: add missing data-slot attributes for shadcn/ui v4 compatibility
  src/components/glass/specialized/progress-glass.tsx
  src/components/glass/ui/__tests__/data-slot-attributes.test.tsx
  src/components/glass/ui/avatar-glass.tsx
  src/components/glass/ui/circular-progress-glass.tsx
  src/components/glass/ui/dropdown-glass.tsx
  src/components/glass/ui/dropdown-menu-glass.tsx
  src/components/glass/ui/glass-card.tsx
  src/components/glass/ui/notification-glass.tsx
  src/components/glass/ui/popover-glass.tsx
  src/components/glass/ui/skeleton-glass.tsx
  src/components/glass/ui/slider-glass.tsx
  src/components/glass/ui/stepper-glass.tsx
  src/components/glass/ui/toggle-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: fix component counts and add missing exports
  CLAUDE.md
  src/components/glass/index.ts
  src/components/glass/ui/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: integrate npm publish directly into auto-release workflow
  .github/workflows/auto-release.yml
Due: none

fix: reduce npm package size by 90%
  package.json
Due: prettier --write

fix: trigger auto-release on package.json changes
  .github/workflows/auto-release.yml
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,css,md,mdx})) or (any of: *.sh)
  eslint --fix: any of: *.{js,jsx,mjs,cjs}
