Repository Yhooi2/shadcn-glass-ui-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, eslint --fix

docs: improve Introduction page - add link styling and update component descriptions for v2.0.0
  .storybook/Introduction.mdx
  .storybook/docs-components.css
Due: prettier --write

chore: release v2.0.1 - improve Storybook Introduction documentation
  package-lock.json
  package.json
Due: prettier --write

docs: unify component category link style to match Core UI Components format
  .prettierignore
  .storybook/Introduction.mdx
Due: prettier --write

chore: release v2.0.2 - unify component link styling
  package-lock.json
  package.json
Due: prettier --write

docs: add Context7 MCP integration to AI-Friendly features
  .storybook/Introduction.mdx
Due: prettier --write

fix links introduction
  .storybook/Introduction.mdx
Due: prettier --write

fix links storybook
  .storybook/Introduction.mdx
  .storybook/docs/AtomicComponents.mdx
  .storybook/docs/Blocks.mdx
  .storybook/docs/CompositeComponents.mdx
  .storybook/docs/CoreComponents.mdx
  .storybook/docs/DesignSystem.mdx
  .storybook/docs/GettingStarted.mdx
  .storybook/docs/SectionComponents.mdx
Due: prettier --write

chore: release v2.0.3 - fix Storybook navigation links
  package-lock.json
  package.json
Due: prettier --write

fix: unify link styling and format in Storybook docs
  .prettierignore
  .storybook/docs-components.css
  .storybook/docs/AtomicComponents.mdx
  .storybook/docs/Blocks.mdx
  .storybook/docs/CompositeComponents.mdx
  .storybook/docs/SectionComponents.mdx
Due: prettier --write

chore: release v2.0.4 - improve Storybook link styling and formatting
  package-lock.json
  package.json
Due: prettier --write

fix: unify link styling in CoreComponents and remove TagGlass placeholder
  .storybook/docs/CompositeComponents.mdx
  .storybook/docs/CoreComponents.mdx
Due: prettier --write

2.0.5
  package-lock.json
  package.json
Due: prettier --write

docs: restructure README and consolidate documentation
  .storybook/docs/GettingStarted.mdx
  README.md
  docs/ADVANCED_PATTERNS.md
  docs/AI_USAGE.md
  docs/BREAKING_CHANGES.md
  package.json
Due: prettier --write

2.0.6
  package-lock.json
  package.json
Due: prettier --write

bg fix
  src/styles/themes/aurora.css
  src/styles/themes/glass.css
  src/styles/themes/light.css
Due: prettier --write

fix: remove screenshots from README for npm compatibility
  README.md
Due: prettier --write

chore(release): v2.0.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix bg storybook
  .storybook/preview.ts
  .storybook/storybook.css
  src/styles/themes/aurora.css
Due: eslint --fix --max-warnings=0, prettier --write

fix modal storybook
  src/components/ModalGlass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: migrate components to 3-layer token architecture
  src/components/glass/composite/trust-score-display-glass.tsx
  src/components/glass/sections/trust-score-card-glass.tsx
  src/components/glass/specialized/language-bar-glass.tsx
  src/components/glass/specialized/profile-avatar-glass.tsx
  src/components/glass/specialized/rainbow-progress-glass.tsx
  src/components/glass/ui/avatar-glass.tsx
  src/components/glass/ui/button-glass.tsx
  src/styles/themes/aurora.css
  src/styles/themes/glass.css
  src/styles/themes/light.css
Due: eslint --fix --max-warnings=0, prettier --write

feat: migrate to brand-colors token system
  .storybook/preview.ts
  src/components/DesktopShowcase.tsx
  src/components/LanguageBarGlass.stories.tsx
  src/components/MobileShowcase.tsx
  src/components/glass/specialized/__tests__/language-bar-glass.test.tsx
  src/components/glass/specialized/language-bar-glass.tsx
  src/glass-theme.css
  src/stories/use-cases/user-profile.stories.tsx
  src/styles/demo/demo-tokens.css
  src/styles/index.css
  src/styles/themes/aurora.css
  src/styles/themes/glass.css
  src/styles/themes/light.css
  src/styles/tokens/brand-colors.css
  src/styles/tokens/oklch-primitives.css
Due: eslint --fix --max-warnings=0, prettier --write

docs: restructure README according to best practices
  README.md
Due: prettier --write

fix: increase CircularProgressGlass container padding to prevent glow clipping
  src/components/glass/composite/CircularMetricGlass.stories.tsx
  src/components/glass/ui/circular-progress-glass.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix bg
  src/components/demos/AnimatedBackground.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: document Tailwind v4 CSS variable pattern
  docs/TOKEN_ARCHITECTURE.md
  src/styles/tokens/primitives.css
Due: prettier --write

fix: use controlled state for FlagsSectionGlass expanded prop
  src/components/demos/DesktopShowcase.tsx
  src/components/glass/sections/flags-section-glass.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs(CLAUDE): update Tailwind v4 CSS variable pattern
  CLAUDE.md
Due: prettier --write

docs: update documentation paths after Storybook restructure
  CLAUDE.md
  docs/GETTING_STARTED.md
  src/components/__visual__/componentshowcase.visual.test.tsx
  src/components/__visual__/desktop.visual.test.tsx
  src/components/__visual__/mobileshowcase.visual.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: migrate to vitest/browser from deprecated @vitest/browser/context
  src/components/__visual__/components.visual.test.tsx
  src/components/__visual__/componentshowcase.visual.test.tsx
  src/components/__visual__/desktop.visual.test.tsx
  src/components/__visual__/insight-card.visual.test.tsx
  src/components/__visual__/mobileshowcase.visual.test.tsx
  src/components/__visual__/phase2-components.visual.test.tsx
  src/components/__visual__/projects-list.visual.test.tsx
  src/components/__visual__/sparkline.visual.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: comprehensive documentation audit and update
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/AI_USAGE.md
  docs/GETTING_STARTED.md
  docs/api/README.md
  docs/visual-testing-guide.md
  src/components/__visual__/components.visual.test.tsx
  src/lib/theme-context.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): v2.0.9
  package-lock.json
  package.json
Due: prettier --write

chore(release): v2.0.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(ci): add workflow_dispatch trigger and continue-on-error for CodeQL
  .github/workflows/security.yml
Due: none

fix(ci): skip autobuild for CodeQL JavaScript analysis
  .github/workflows/security.yml
Due: none

chore(release): v2.0.11 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

fix(ci): ignore GitHub Packages publishing errors
  .github/workflows/publish.yml
Due: none

fix(ci): properly configure GitHub Packages publication with scoped name
  .github/workflows/publish.yml
Due: none

chore(release): v2.0.12 [skip ci]
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,css,md,mdx})) or (any of: *.sh)
  eslint --fix: any of: *.{js,jsx,mjs,cjs}
